.page-description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    margin-bottom: 40px;
}

    .page-description-tittle{
        color: rgb(19, 19, 113);
        font-size: 2.2em;
        font-weight: 600;
        text-align: center;
    }

    .page-description-text{
        color: gray;
        font-size: 1.2em;
        font-weight: 400;

    }

.opcoes-escolha{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 0px 20px;
}

    .opcoes-escolha > div{
        height: 300px;
        width: 450px;
        display: flex;
        flex-direction: column;
    }

        .opcoes-escolha > div .icon{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            padding: 15px 20px;
        }

            .opcoes-escolha > div .icon > div{
                height: 100%;
                width: 30%;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 18px;
            }

                .opcoes-escolha > div .icon >div img{
                    height: 100%;
                }

        .opcoes-escolha > div .text{
            height: 45%;
            width: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

            .opcoes-escolha > div .text .tittle{
                font-size: 1.7em;
                font-weight: 600;
            }

             .opcoes-escolha > div .text .description{
                color: gray;
                font-size:1.2em;
            }

        .opcoes-escolha > div .link{
            height: 25%;
            width: 100%;
            padding: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .opcoes-escolha > div .link > div{
                height: 65%;
                width: 100%;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                background-color: lightgreen;
            }

                .opcoes-escolha > div .link > div img{
                    height: 100%;
                }

            .opcoes-escolha > div:nth-child(1) .link > div, .opcoes-escolha > div:nth-child(1) .icon >div{background-color: rgba(80, 169, 242, 0.382); transition: all 1s; }
            .opcoes-escolha > div:nth-child(2) .link > div, .opcoes-escolha > div:nth-child(2) .icon >div{background-color: rgba(219, 255, 206, 0.877); transition: all 1s; }

            .opcoes-escolha > div:nth-child(1) .link > div:hover{background-color: rgba(33, 128, 206, 0.858);}
            .opcoes-escolha > div:nth-child(2) .link > div:hover{background-color: rgba(154, 214, 132, 0.877);}
    