*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgba(176, 176, 176, 0.704);
    /* background: #ffffff;
    background: linear-gradient(180deg,rgba(158, 158, 158, 0.777) 0%, rgba(158, 158, 158, 0.606) 97%, rgba(158, 158, 158, 0.281) 100%); */
}

.main-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'header header header' 'main main main''footer footer footer';
    grid-template-rows: 70px auto 100px;
    gap: 20px;
    padding: 20px;
}

.header{
    grid-area: header ;
    display: flex;
}

.header-area{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

.logo{
    height: 98%;
    width:200px;
    border: solid 1px gray;
    margin-left: 30px;
    display: flex;
}

.logo-image{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image > img{
    height: 100%;
}

.logo-text{
    width: 60%;

}

.toolbar{
    height: 98%;
    width:200px;
    border: solid 1px gray;
    margin-right: 20px;
}

.main{
    grid-area: main;
    margin: 0px 10px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.briefing{
    height:80px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.main-area{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 24%;
    justify-content: space-between;
    padding: 2px;
}

.modules-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.module{
    height: 300px;
    width: 49%;
    border-radius: 10px;
    background-color: white;
}

.summary-area{
    height: 100%;  
    border-radius: 5px;  
    background-color: white;
}

.footer{
    grid-area: footer;
}

.footer-area{
    height: 100%;
    width: 100%;
    display: flex;
}